.header {
    background: #fff;
}

.header__inner{
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    color: #8b4513;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    text-align: center;
    margin-bottom: 40px;
    color: #8b4513;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.form__label--item {
    color: #8b4513;
}

.form__label--required {
    color: red;
}

.form__group--content {
    text-align: right;
}

.form__input--text {
    width: 100%;
    display: flex;
    flex-direction: row;
}